@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html,
body,
#__next {
  background-color: #e3ebff;
  font-family: "Open Sans";
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.half {
  display: inline-block;
  margin: 3px 0;
  width: 50%;
}

button {
  padding: 0;
}
